/*Paleta de colores*/
/*Tamano iconos*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Gayathri", sans-serif;
  text-align: center;
  color: #256425;
}

h2, h3 {
  font-family: "Gayathri", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #222020;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.top {
  background-color: #ffc0cb;
  opacity: 0.9;
  width: 100%;
}

.logo {
  width: 100px;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width: 768px) {
  .logo {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 200px;
  }
}
nav li {
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  margin-bottom: 40px;
  margin: 0, auto;
}

.nav-item {
  font-size: large;
}

.nav-item a:hover {
  color: #256425;
  font-size: larger;
}

.cursiva {
  font-style: italic;
  margin-top: 100px;
  margin-left: 30px;
}

.parrafos {
  margin: 10px;
  margin-left: 20px;
  text-align: center;
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  background-color: #ffc0cb;
  opacity: 0.8;
  font-size: small;
  gap: 10px;
  width: 100%;
}

#titulo {
  color: #256425;
}

.coder {
  display: flex;
  justify-content: end;
  color: #222020;
  font-size: smaller;
  text-decoration: none;
  margin: 0 auto;
}

.margen {
  margin-left: 50px;
}

.iconify {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-size: 5rem;
}

.iconify-flecha {
  margin-top: 0;
  font-size: 2rem;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.insta {
  color: #49362c;
}

.pin {
  color: #e42746;
}

.img-index img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.esquema:hover {
  transform: scale(1.2);
}

.nombres {
  color: #ffc0cb;
}

.padre-card {
  display: flex;
  flex-direction: column;
}

.cardd {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 30px;
  width: auto;
  padding: 2px;
}

.card-img {
  height: 20rem;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .padre-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cardd {
    width: 350px;
  }
  .card-img {
    width: 40px;
  }
}
@media (min-width: 992px) {
  .cardd {
    width: 350px;
  }
}
.quienes-somos {
  background-color: #ffc0cb;
}

#carouselExampleCaptions {
  width: 100%;
  margin: 0 auto;
}

.slide {
  margin-top: 20px;
}

.slide img {
  height: 20rem;
  width: 50rem;
}

@media (min-width: 768px) {
  #carouselExampleCaptions {
    width: 100%;
    margin: 0 auto;
  }
  .slide img {
    height: 30rem;
    width: 100rem;
  }
}
@media (min-width: 992px) {
  #carouselExampleCaptions {
    width: 100%;
    margin: 0 auto;
  }
  .slide img {
    height: 40rem;
    width: 200rem;
  }
}
.textcarousel {
  color: #256425;
  background-color: antiquewhite;
  opacity: 0.5;
}

ol {
  font-size: larger;
  padding-bottom: 50px;
}

.precio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.dibujo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 10rem;
  margin-top: 40px;
}

.dibujo:hover {
  transform: scale(1.5);
}

.size {
  height: 100px;
}

iframe {
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (min-width: 680px) {
  iframe {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 900px) {
  iframe {
    width: 600px;
    height: 400px;
  }
}
.asterix {
  color: red;
}

.btn-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #ffc0cb;
  border: solid 1px #222020;
  border-radius: 3px;
  padding: 3px;
}
.btn-primary:hover {
  background-color: #ee7b8e;
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
