/*Paleta de colores*/
$color-uno: #256425;
$color-dos: #ffc0cb;
$color-tres: #222020;

/*Tamano iconos*/
$iconos-chicos: 4rem;
$iconos-grandes: 8rem;

/*Tamano pantalla*/
$tablet: 768px;
$desktop: 992px;