.dibujo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 10rem;
    margin-top: 40px;
    transition: 0.3s;

      }

.dibujo:hover {
    transform: scale(1.5)
}
    
    .size {
        height: 100px;
    }
    
    iframe {
        width: auto;
        height: auto;
        max-width: 100%;
    }
    
    @media (min-width:$tablet) {
        iframe {
            width: 400px;
            height: 200px;
        }
    }
    
    @media (min-width:$desktop) {
        iframe {
            width: 600px;
            height: 400px;
        }
    }



    .asterix {
        color: red;
    }

    .btn-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        background-color: $color-dos;
        border: solid 1px $color-tres; 
        border-radius: 3px;
        padding: 3px;
       

        &:hover {
            background-color: #ee7b8e;
            transform: scale(1.1)
        }
    }