
body {
    background-color: $color-tres;
}

.ups{
    margin-top: 50px;
} 

.body {
    background-color:$color-tres;
    color: $color-dos;
}

.logo-error {
  display: block;
  text-align: center;
}

.codigo-error {
    margin-top: 50px;
    transition: 0.4s;

    &:hover {
        transform: scale(1.3);
    }
}