*{
    margin: 0;
    padding: 0;
}

html{ 
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    color: $color-uno;
           
}

h2, h3{
    font-family: 'Gayathri', sans-serif;
}


a {
    text-decoration: none;
}

p {
    color: $color-tres;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.top{
background-color: $color-dos;
opacity: .9;
width: 100%;
}

.logo{
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

@media (min-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .logo {
        width: 200px;
    }
}

nav li{
    display: inline;
    padding-left: 40px;
    padding-right: 40px ;
    padding-top: 20px;
    margin-bottom: 40px;
    margin: 0, auto;
  
  }
  .nav-item{
    font-size: large;
  }

  .nav-item a:hover{
    color: $color-uno;
    font-size: larger;
}


.cursiva {
    font-style: italic;
    margin-top: 100px;
    margin-left: 30px;
}

.parrafos {
    margin: 10px;
    margin-left: 20px;
    text-align: center;
   width: 50% ;
   
}


footer {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: $color-dos;
    opacity: .8;
    font-size: small;
    gap: 10px;
    width: 100%;
    
}

#titulo {
    color: $color-uno;
}

.coder {
    display: flex;
    justify-content: end;
    color: $color-tres;
    font-size: smaller;
    text-decoration: none;
    margin: 0 auto;
   
}

.margen {
    margin-left: 50px;
}

.iconify {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
      
}

.iconify-flecha {
    margin-top: 0;
    font-size: 2rem;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 50px;
    .insta, .pin {
        font-size: 2rem;
    }
}

.insta {
    color: #49362c;
}

.pin {
    color: #e42746;
   }

.gmail{
    font-size: 3rem;
   }

@media (min-width:768px) {
   .insta {
        font-size: 3rem;
    }
}

@media (min-width:992px){
    .insta {
        font-size: 4rem;
    }
}





