*{
    margin: 0;
    padding: 0;
     
}

html{ 
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    color: $color-uno;
           
}

h2, h3{
    font-family: 'Gayathri', sans-serif;
}


a {
    text-decoration: none;
}

p {
    color: $color-tres;
}



header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.top{
background-color: $color-dos;
opacity: .4;
width: 100%;
}

.logo{
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

@media (min-width:$tablet) {
    .logo {
        width: 150px;
    }
}

@media (min-width:$desktop) {
    .logo {
        width: 200px;
    }
}


nav li{
    display: inline;
   padding: 20px 40px 0px;
   /*20 es top 40 es right y left 0 es bottom*/
    margin-bottom: 40px;
    margin: 0, auto;
  
  }
  

  .nav-item a:hover{
    transform: scale(1.01);
    color: $color-uno;
    font-size: larger;
}


.cursiva {
    font-style: italic;
    margin-top: 100px;
    
}

.parrafos {
    margin: 10px;
    margin-left: 20px;
    text-align: center;
   width: 50% ;
   
}


footer {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: $color-dos;
    opacity: .8;
    font-size: small;
    gap: 10px;
    width: 100%;
    height: 340px;
    
}

#titulo {
    color: $color-uno;
}

.coder {
    display: flex;
    justify-content: end;
    color: $color-tres;
    font-size: smaller;
    text-decoration: none;
    margin: 0 auto;
   
}

.margen {
    margin-left: 50px;
}

.iconify {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 20px;

}



.iconify-flecha {
    margin-top: 0;
    font-size: 2rem;
}



.redes {
    display: flex;
    justify-content: center;
    gap: 70px;
    
 
        .red {
            font-size: 2rem;
            color: $color-uno;
            transition: 0.3s;
        }
    }
    

@media (min-width:$tablet) {
    .red {
        font-size: 4rem;
    }
}

@media (min-width:$desktop) {
    .red {
        font-size: 6rem;
    }
}