ol{
    font-size: larger;
    padding-bottom: 50px;
 }


.columnas {
    float: left;
    width: 33.3%;
    padding: 8px;
  }

.mensualidad {
  list-style-type: none;
  border: 1px solid $color-tres;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
    li {
    padding: 20px;
    text-align: center;
       }    
    }

.mensualidad:hover {
    box-shadow: 0 8px 12px 0 $color-dos;
  }

.encabezado {
    background-color: $color-uno;
    color: white;
    font-size: 25px;
    &:hover {
        transform: scale(1);
    }
}

.rosa {
    background-color: $color-tres;
}

.list:hover {
    transform:  scale(1.1);
}



.precio {
    text-align: center;
     font-size: x-large;
    width: 100%;
    &:hover {
        transform: scale (1.3);
    }
}


@media only screen and (max-width: 600px) {
    .columnas {
      width: 100%;
    }
  }
  
 