ol{
    font-size: larger;
    padding-bottom: 50px;
 }

.precio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
    border: solid 2px #256425;
    padding: 0 100px 100px 100px ;
}