.accordion{
    margin-top: 30px;
}

.color {
    background-color: $color-dos !important;
    color: $color-uno !important;
}

.color-alternado {
    background-color: $color-uno !important;
    color: $color-dos !important;
}