.nombres {
    color: #ffc0cb;
    margin-top: 30px;
}

.padre-card{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}
   
.cardd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  width: 50px;
  margin: 0, auto;
    padding: 2px;
   
}

.card-img {
   
   height: 20rem;
   width: 5rem;
   display: block;
   margin: 0 auto;
   
}

@media (min-width:$tablet) {
    .padre-card {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cardd {
        width: 350px;
        margin: 100px;

    }

    .card-img{
        width: 40px;
    }
}

@media (min-width:$desktop) {
    .cardd {
      width: 350px;
    }
}

.quienes-somos {
    background-color: #ffc0cb;
   padding: 10px;
}

